.Notifications {
    border: thin dotted #e0344a;
    padding: 16px;
}

.Notifications button img {
    width: 20px;
}

[data-priority='default'] {
    color: blue;
}

[data-priority='urgent'] {
    color: red;
}
